@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap");

:root {
  --color-white: #f9f9f9;
  --color-black: #252526;
  --color-blue: #c6e0ff;
  --color-dark-blue: #2978a0;
  --color-brown: #bcab79;
  --color-red: #e36f7d;

  --color-gray: #ffffff1a;

  --transparency: rgba(0, 0, 0, 0.5);
  --shadow: 0 0 5px rgba(0, 0, 0, .5);

  --text-title: 700 2.5rem "Ubuntu", sans-serif;
}

.animate-before {
  transform: translateY(40px);
  opacity: 0;
  pointer-events: none;
}

.animate-after {
  transform: translateY(-40px);
  opacity: 0;
  pointer-events: none;
}

/* Barra de Rolagem | Scrollbar */

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: var(--color-black);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-blue);
  border-radius: 20px;
  border: 3px solid var(--color-black);
}

body::-webkit-scrollbar-corner {
  background-color: var(--color-black);
}

body {
  background-color: var(--color-black);
}

.titles {
  font: var(--text-title);
  color: var(--color-white);
  margin: 50px 0;
  text-align: center;
}

/* Header */

header {
  display: flex;
  z-index: 10;
  top: 0;
  left: 0;
  position: sticky;
  background-color: var(--color-brown);
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: var(--color-brown);
  font-family: "Ubuntu", sans-serif;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.nav-links a {
  color: var(--color-white);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 1rem;
  transition: .7 ease;
}

.nav-links a:hover {
  color: var(--color-dark-blue);
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}

@keyframes navLinkFade {
  from {
      opacity: 0;
      transform: translateX(50px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Apresentação */

.presentation-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
}

.presentation-container div {
  width: 100%;
  max-width: 350px;
  max-height: 500px;
  box-shadow: 0 0 5px var(--color-secondary);
  position: relative;
}

.presentation-container .about-container {
  background-color: var(--color-white);
}

.presentation-container div img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
  position: relative;
}

.socialMedia {
  position: absolute;
  text-align: center;
  width: 350px;
  bottom: 60px;
}

.socialMedia a {
  color: var(--color-brown);
  font-size: 40px;
  text-decoration: none;
  transition: .2s;
  padding: 10px;
}

.socialMedia a:hover {
  color: var(--color-dark-blue);
}

.about-me h1 {
  max-width: 90%;
  font: 700 1.5rem 'Ubuntu', sans-serif;
  text-indent: 25px;
  color: var(--color-dark-blue);
  margin: 20px auto;
}

.emphasis {
  color: var(--color-brown);
  text-shadow: 1px 1px 2px var(--color-black);
}

.about-me p {
  font: 500 1rem 'Lora', serif;
  text-indent: 25px;
  color: var(--color-black);
  width: 90%;
  margin: 0 auto;
}

.professions {
  color: var(--color-brown);
}

.about-details {
  display: flex;
  font: 500 1rem 'Lora', serif;
  font-style: italic;
  color: var(--color-dark-blue);
  margin: 10px 0;
  width: 90%;
}

.about-details i {
  padding: 0 10px 0 25px;
}

.about-container button {
  font: 700 2rem 'Ubuntu', sans-serif;
  color: var(--color-black);
  background-color: var(--color-brown);
  padding: 10px;
  border: 2px solid var(--color-black);
  border-radius: 7px; 
  margin: 10px 20px;
  transition: .7s;
}

.about-container button:hover {
  color: var(--color-white);
  background-color: var(--color-dark-blue);
  border: 2px solid var(--color-white);
  cursor: pointer;
}

/* Galeria */

.gallery-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}
.gallery-heading .gallery-heading--wrapper-text {
  font: var(--text-title);
}
.gallery-heading .gallery-heading--wrapper {
  position: relative;
}
.gallery-heading .gallery-heading--wrapper .offset {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%);
}
.gallery-heading .gallery-heading--wrapper .gallery-heading--wrapper-text {
  white-space: nowrap;
  color: var(--color-brown);
  transition-duration: 1s;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 252px);
  max-height: 0;
  flex-wrap: wrap;
  visibility: hidden;
  pointer-events: none;
}
.gallery.active {
  max-height: unset;
  visibility: visible;
  pointer-events: auto;
}

.gallery-heading--text {
  font: 700 3rem "Ubuntu", sans-serif;
  color: var(--color-white);
}

.gallery-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s ease;
  margin-top: 10vh;
}
.gallery-column:nth-child(1) {
  transition-delay: 0s;
}
.gallery-column:nth-child(2) {
  margin-top: 15vh;
  transition-delay: 0.2s;
}
.gallery-column:nth-child(3) {
  transition-delay: 0.4s;
}

.gallery-column-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 300px;
  background-color: var(--color-blue);
  border-radius: 10px;
}

.gallery-column-item:not(:first-child) {
  margin-top: 16px;
}

.gallery-img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
}

/* Conquistas */

.last-conquest {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#stamp {
  width: 80px;
}
.header-lastConquest {
  font: 700 2rem 'Ubuntu', sans-serif;
  color: var(--color-dark-blue);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 90%;
  max-width: 980px;
  margin: 40px 0 15px 0;
}

#myConquests-btn {
  font: 700 1.5rem 'Ubuntu', sans-serif;
  color: var(--color-black);
  background-color: var(--color-brown);
  padding: 10px;
  border: 2px solid var(--color-black);
  border-radius: 7px;
  transition: .7s;
  margin-left: 50px;
}

#myConquests-btn:hover {
  color: var(--color-white);
  background-color: var(--color-dark-blue);
  border: 2px solid var(--color-white);
  cursor: pointer;
}

.last-conquest p {
  text-align: center;
  font: 500 1.2rem 'Lora', serif;
  width: 90%;
  max-width: 980px;
  font-style: italic;
  color: var(--color-white);
}

.conquests-modal {
  border: none;
  border-radius: .5rem;
  box-shadow: 0 0 1em var(--color-black);
  width: 60%;
  height: 350px;
}

@media (max-width:1100px) {
  .conquests-modal {
    width: 80%;
  }
}

.conquests-modal::backdrop {
  background-color: var(--color-black);
}

.background-conquests {
  width: 500px;
}

.slide {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 300px;
  flex-wrap: wrap;
  gap: 15px;
  padding: 60px 30px;
}

.conquest {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  animation: slideContent .2s linear .2s backwards;
}

.conquest-title {
  font: 700 1.5rem 'Ubuntu', sans-serif;
  color: var(--color-dark-blue);
  margin-bottom: 30px;
}

.conquest-txt {
  font: 500 1rem 'Lora', serif;
  text-indent: 25px;
}

.conquests-slide {
  display: none;
}

.conquests-slide.active {
  display: block;
}

@keyframes slideContent {
  0%
  {
      opacity: 0;
      transform: translateX(-50px);
  }
}

#prev, 
#next {
  position: absolute;
  top:10%;
  left: 30%;
  color: var(--color-white);
  background: var(--color-dark-blue);
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  font-weight: bolder;
  border-radius: 50px;
  transition: ease .5s;
}

#prev:hover, 
#next:hover{
  background: var(--color-blue);
}
#prev{
  left: 20px;
}

#next{
  right: 20px;
}

#closeModal-btn {
  position: absolute;
  font: 700 1.5rem 'Ubuntu', sans-serif;
  color: var(--color-black);
  background-color: var(--color-red);
  padding: 10px;
  border: 2px solid var(--color-black);
  border-radius: 7px;
  transition: .7s;
  top: 30px;
  right: 30px;
}

#closeModal-btn:hover {
  color: var(--color-red);
  background-color: var(--color-black);
  border: 2px solid var(--color-red);
  cursor: pointer;
}

/* Experiência Profissional */

.section-profession {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 90%;
  max-width: 980px;
  gap: 15px;
  margin: 0 auto;
  position: relative;
}

.work {
  display: flex;
  flex-direction: row;
}

.work-year, .work-year2 {
  font: 600 1rem 'Ubuntu', sans-serif;
  color: var(--color-white);
  text-shadow: .5px .5px .5px var(--color-black);
  background-color: var(--color-blue);
  border: 2px solid var(--color-black);
  width: 90px;
  padding: 15px;
  text-align: center;
  align-self: flex-start;
  margin-right: 7px;
}

.work-year {
  border-radius: 5px 0 0 5px;
}

.work-year2 {
  border-radius: 0 5px 5px 0;
}

.work-description, .work-description2 {
  background-color: var(--color-blue);
  border: 2px solid var(--color-white);
  width: 220px;
  padding: 15px;
}

.work-description {
  border-radius: 0 5px 5px 5px;
}

.work-description2 {
  border-radius: 5px 0 5px 5px;   
  margin-right: 7px;
}

.work-description p, .work-description2 p {
  font: 500 1rem 'Ubuntu', sans-serif;
  color: var(--color-black);
  line-height: 23px;
}

.work-description h3, .work-description2 h3 {
  font: 400 1rem 'Lora', serif;
  color: var(--color-dark-blue);
  font-style: italic;
  margin-top: 7px;
}

.work:nth-child(2), .work:nth-child(4), .work:nth-child(6) {
  justify-content: right;
}

.verticalLine {
  position: absolute;
  height: 1040px;
  border-right: 2px solid var(--color-blue);
  align-self: center;
  top: 190px;
}

.work-year::after, .work-year2::after  {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  border: 2px solid var(--color-black);
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

/* Educação */

.section-education {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 916px;
  width: calc(100% - 20px);
}

#cards:hover > .card::after {
  opacity: 1;
}

.card {
  background-color: var(--color-gray);
  border-radius: 10px;
  display: flex;
  height: 260px;
  flex-direction: column;
  position: relative;
  width: 300px;
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), var(--color-gray), transparent 40%);
  z-index: 3;
}

.card::after {
  background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y), var(--color-gray), transparent 40%);
  z-index: 1;
}

.card > .card-content {
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

.card-image {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  overflow: hidden;
}

.card-image > img {
  width: 70%;
}

.card-info-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0px 20px;
}

.card-info {
  align-items: flex-start;
  display: flex;
  gap: 10px;
}

.card-info-title > h3 {
  font: 600 1.5rem 'Ubuntu', sans serif;
  color: var(--color-brown);
  line-height: 20px;
}

.card-info-title > h4 {
  color: var(--color-white);
  font: 500 1rem 'Ubuntu', sans-serif;
  margin: 10px 0;
}

/* -- ↓ ↓ ↓ Responsividade dos Cards ↓ ↓ ↓ -- */
@media (max-width: 1000px) {
  body {
    align-items: flex-start;
    overflow: auto;
  }
  #cards {
    max-width: 1000px;
    padding: 10px 0px;
  }
  .card {
    flex-shrink: 1;
    width: calc(50% - 4px);
  }
}
@media (max-width: 500px) {
  .card {
    height: 220px;
  }
  .card-image {
    height: 80px;
  }
  .card-info-wrapper {
    padding: 0px 10px;
  }
  .card-info-title > h3 {
    font-size: 0.9em;
  }
  .card-info-title > h4 {
    font-size: 0.8em;
    margin-top: 4px;
  }
}
@media (max-width: 320px) {
  .card {
    width: 100%;
  }
}

/* -- ↓ ↓ ↓ Responsividade Geral ↓ ↓ ↓ -- */

@media screen and (max-width: 768px) {

  body {
    overflow-x: hidden;
  }
  
  .nav-links {
    position: fixed;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: var(--color-brown);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  
  .nav-links li {
    opacity: 0;
  }
  
  .burger {
    display: block;
    cursor: pointer;
  }

  .nav-active {
  transform: translateX(0%);
  }

  /* Experiência Profissional */

  .section-profession {
    width: 100%;
  }

  .work-year, .work-year2 {
    width: 70px;
  }

  .work-description, .work-description2 {
    width: 170px;
  }

  .verticalLine {
    display: none;
  }

  .work-year::after, .work-year2::after {
    content: none;
  }
}

@media screen and (max-width: 425px) {

  /* Experiência Profissional */

  .work {
    margin: 15px;
  }
}