@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap");
.animate-before {
  transform: translateY(40px);
  opacity: 0;
  pointer-events: none;
}

.animate-after {
  transform: translateY(-40px);
  opacity: 0;
  pointer-events: none;
}

/* Barra de Rolagem | Scrollbar */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #253031;
}

body::-webkit-scrollbar-thumb {
  background-color: #c6e0ff;
  border-radius: 20px;
  border: 3px solid #253031;
}

body::-webkit-scrollbar-corner {
  background-color: #253031;
}

body {
  background-color: #253031;
}

main {
  display: grid;
  grid-template-areas: "content sideNavbar" "content2 sideNavbar" "content3 sideNavbar" "content4 sideNavbar";
  justify-content: center;
}

.sideNavbar {
  grid-area: sideNavbar;
  display: flex;
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
  width: 120px;
  height: 100px;
  margin: 70px 0 0 30px;
}

.sideNavbar-title {
  font: 500 1rem "Ubuntu", sans-serif;
  color: #f0f8ff;
}

.sideNavbar-icons {
  width: 2.5rem;
  margin: 15px 0;
  transition: 0.5s ease;
}

.sideNavbar-icons:hover {
  transform: scale(1.1);
}

.gallery-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}
.gallery-heading .gallery-heading--wrapper-text {
  font: 700 2.5rem "Ubuntu", sans-serif;
}
.gallery-heading .gallery-heading--wrapper {
  position: relative;
}
.gallery-heading .gallery-heading--wrapper .offset {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%);
}
.gallery-heading .gallery-heading--wrapper .gallery-heading--wrapper-text {
  white-space: nowrap;
  color: #bcab79;
  transition-duration: 1s;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin-bottom: 30px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 252px);
  max-height: 0;
  visibility: hidden;
  pointer-events: none;
}
.gallery.active {
  max-height: unset;
  visibility: visible;
  pointer-events: auto;
}

.gallery-heading--text {
  font: 700 3rem "Ubuntu", sans-serif;
  color: #f0f8ff;
}

.gallery-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s ease;
  margin-top: 10vh;
}
.gallery-column:nth-child(1) {
  transition-delay: 0s;
}
.gallery-column:nth-child(2) {
  margin-top: 20vh;
  transition-delay: 0.2s;
}
.gallery-column:nth-child(3) {
  transition-delay: 0.4s;
}

.gallery-column-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 300px;
  background-color: #c6e0ff;
  border-radius: 10px;
}

.gallery-column-item:not(:first-child) {
  margin-top: 16px;
}

.gallery-img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.section-restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featuredDish {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.featuredDish-description {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 30%;
}

.featuredDish-title {
  font: 700 2rem "Ubuntu", sans-serif;
  color: #bcab79;
  margin-bottom: 15px;
}

.featuredDish-plate {
  font: 600 1.2rem "Ubuntu", sans-serif;
  color: #f0f8ff;
  margin-bottom: 10px;
}

.featuredDish-plate span {
  font-style: italic;
  color: #c6e0ff;
}

.featuredDish-description p {
  font: italic 500 1rem "Lora", serif;
  color: #f0f8ff;
  margin-bottom: 20px;
}

.reservation {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font: 600 1.5rem "Ubuntu", sans-serif;
  color: #2978a0;
  text-shadow: 0.5px 0.5px 0.5px #315659;
  border: 1.5px solid #2978a0;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  padding: 10px;
  transition: 0.5s ease;
  width: 70%;
}

.reservation:hover {
  color: #f0f8ff;
  background-color: #bcab79;
  border: 1.5px solid #bcab79;
}

.modal-calendar {
  background-color: bisque;
  width: 770px;
}
.modal-calendar .calendar-header {
  padding: 10px;
  font: 500 1rem "Ubuntu", sans-serif;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.modal-calendar .calendar-header button {
  background-color: #c6e0ff;
  font: 500 1rem "Ubuntu", sans-serif;
  padding: 7px;
  border: 2px solid #253031;
  border-radius: 5px;
  margin-left: 15px;
  transition: 0.5s ease;
}
.modal-calendar .calendar-header button:hover {
  background-color: #2978a0;
  color: #f0f8ff;
}
.modal-calendar #weekdays {
  width: 100%;
  display: flex;
}
.modal-calendar #weekdays div {
  width: 100px;
  padding: 10px;
}
.modal-calendar #calendar-days {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.modal-calendar .day {
  width: 85px;
  padding: 7px;
  height: 85px;
  cursor: pointer;
  background-color: #f0f8ff;
  margin: 5px;
  box-shadow: 0px 0px 3px #253031;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15%;
}
.modal-calendar .day:hover {
  background-color: #c6e0ff;
}
.modal-calendar .day + #currentDay {
  background-color: #2978a0;
}
.modal-calendar .event {
  font-size: 10px;
  padding: 3px;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
.modal-calendar .padding {
  cursor: default !important;
  background-color: var(--body-color) !important;
  box-shadow: none !important;
}

.featuredDish img {
  width: 30%;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 916px;
  width: calc(100% - 20px);
}

#cards:hover > .card::after {
  opacity: 1;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 260px;
  flex-direction: column;
  position: relative;
  width: 300px;
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.06), transparent 40%);
  z-index: 3;
}

.card::after {
  background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.4), transparent 40%);
  z-index: 1;
}

.card > .card-content {
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

.card-image {
  align-items: center;
  display: flex;
  height: 140px;
  justify-content: center;
  overflow: hidden;
}

.card-image > i {
  font-size: 6em;
  opacity: 0.25;
}

.card-info-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0px 20px;
}

.card-info {
  align-items: flex-start;
  display: flex;
  gap: 10px;
}

.card-info > i {
  font-size: 1em;
  height: 20px;
  line-height: 20px;
}

.card-info-title > h3 {
  font-size: 1.5em;
  color: #bcab79;
  line-height: 20px;
}

.card-info-title > h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.85em;
  margin-top: 8px;
}

/* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */
@media (max-width: 1000px) {
  body {
    align-items: flex-start;
    overflow: auto;
  }
  #cards {
    max-width: 1000px;
    padding: 10px 0px;
  }
  .card {
    flex-shrink: 1;
    width: calc(50% - 4px);
  }
}
@media (max-width: 500px) {
  .card {
    height: 180px;
  }
  .card-image {
    height: 80px;
  }
  .card-image > i {
    font-size: 3em;
  }
  .card-info-wrapper {
    padding: 0px 10px;
  }
  .card-info > i {
    font-size: 0.8em;
  }
  .card-info-title > h3 {
    font-size: 0.9em;
  }
  .card-info-title > h4 {
    font-size: 0.8em;
    margin-top: 4px;
  }
}
@media (max-width: 320px) {
  .card {
    width: 100%;
  }
}
.container-budgetForm {
  display: grid;
  grid-template-areas: "title title" "informations form";
  margin: 0 auto;
  width: 100%;
  max-width: 980px;
}

.budget-title {
  font: 700 2rem "Ubuntu", sans-serif;
  grid-area: title;
}

.budget-informations {
  grid-area: informations;
  flex-direction: column;
}

.informations {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
}

.informations-titles {
  font: 600 1.5rem "Ubuntu", sans-serif;
  color: #c6e0ff;
  text-shadow: 0 0 3px #253031;
}

.informations-box {
  width: 150px;
  height: 40px;
  background-color: rgba(240, 248, 255, 0.7);
  border-radius: 5px;
  box-shadow: 0 0 5px #253031;
  margin-left: 30px;
  font: 500 1rem "Ubuntu", sans-serif;
  color: #253031;
}

.finalPrice {
  display: flex;
  background-color: #c6e0ff;
  width: 20%;
  height: 40%;
}

.budgetForm {
  grid-area: form;
  display: flex;
  flex-direction: column;
  background-color: rgba(240, 248, 255, 0.7);
  border-radius: 5px;
  box-shadow: 0 0 5px #253031;
}

.form-titles {
  font: 600 1.5rem "Ubuntu", sans-serif;
  margin-bottom: 20px;
}

.containers-form, .selectNumberOfPages {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 500 1rem "Ubuntu", sans-serif;
}

.websiteType {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.websites, .onlineStores {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background-color: #f0f8ff;
  border-radius: 5px;
  box-shadow: 0 0 4px #253031;
  transition: 0.3s ease;
  font: 500 1rem "Ubuntu", sans-serif;
}
.websites:hover, .onlineStores:hover {
  box-shadow: inset 0 0 4px #253031;
}
.websites img, .onlineStores img {
  width: 60%;
}

.selectNumberOfPages {
  gap: 10px;
}

.pageOptions-title {
  font: 600 1rem "Ubuntu", sans-serif;
  margin-bottom: 10px;
}

.pageOptions {
  font: 500 1rem "Ubuntu", sans-serif;
  margin-bottom: 15px;
}

#mensage {
  width: 80%;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.container-btn {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.form-btn {
  width: 30%;
  height: 40px;
  font: 500 1.5rem "Ubuntu", sans-serif;
  border-radius: 5px;
  background-color: #c6e0ff;
  transition: 0.3s ease;
  box-shadow: 0 0 2px #253031;
}

.form-btn:hover {
  background-color: #2978a0;
  color: #f0f8ff;
  border: 1px solid #f0f8ff;
}

.section-music {
  display: flex;
  flex-direction: column;
}

.section-music--title {
  font: 700 2rem "Ubuntu", sans-serif;
  color: #f0f8ff;
  margin-bottom: 15px;
}

.news-portal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 70%;
  margin: 0 auto;
}

.title {
  font: 700 3rem "Ubuntu", sans-serif;
  color: #f0f8ff;
  text-align: center;
  margin-bottom: 30px;
}

.main-news-cover {
  grid-area: cover;
  width: 100%;
  height: 400px;
}

.main-news-cover-img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.container-news {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.news {
  background-color: #315659;
  width: 100%;
  height: 100px;
}

.news-title {
  color: #f0f8ff;
  font: 500 1rem "Ubuntu", sans-serif;
  margin: 15px;
}

.news-paragraph {
  color: #f0f8ff;
  font: 500 0.8rem "Lora", serif;
}

.progress-bar {
  width: 100%;
  height: 7px;
  margin-top: 10px;
  color: #c6e0ff;
  position: relative;
  pointer-events: none;
}
.progress-bar.active {
  visibility: visible;
}

.progress-bar::before {
  content: attr(data-label);
  display: flex;
  align-items: center;
  position: absolute;
  height: 7px;
  width: calc(var(--width, 0) * 1%);
  min-width: 0;
  max-width: 100%;
  background-color: #c6e0ff;
}/*# sourceMappingURL=portfolio.css.map */