@import './patterns';

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap');

body {
  background-color: $black;
}

main {
  display: grid;
  grid-template-areas: 'content sideNavbar'
                       'content2 sideNavbar'
                       'content3 sideNavbar'
                       'content4 sideNavbar'
  ;
  justify-content: center;
}

.sideNavbar {
  grid-area: sideNavbar;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 90px;
  width: 120px;
  height: 100px;
  margin: 70px 0 0 30px;
}

.sideNavbar-title {
  font: $normal-font;
  color: $white;
}

.sideNavbar-icons {
  width: 2.5rem;
  margin: 15px 0;
  transition: .5s ease;
}

.sideNavbar-icons:hover {
  transform: scale(1.1);
}

// Galeria de fotos

.gallery-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;

  .gallery-heading--wrapper-text {
    font: 700 2.5rem 'Ubuntu', sans-serif;
  }

  .gallery-heading--wrapper {
    position: relative;

    .offset {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-50%);
    }

    .gallery-heading--wrapper-text {
      white-space: nowrap;
      color: $brown;

      transition-duration: 1s;
    }
  }
}

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin-bottom: 30px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 252px);

  max-height: 0;
  visibility: hidden;
  pointer-events: none;

  &.active {
    max-height: unset;
    visibility: visible;
    pointer-events: auto;
  }
}

.gallery-heading--text {
  font: 700 3rem 'Ubuntu', sans-serif;
  color: $white;
}

.gallery-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s ease;
  margin-top: 10vh;

  &:nth-child(1) {
    transition-delay: $columns-transition-delay * 0;
  }
  &:nth-child(2) {
    margin-top: 20vh;
    transition-delay: $columns-transition-delay * 1;
  }
  &:nth-child(3) {
    transition-delay: $columns-transition-delay * 2;
  }
}

.gallery-column-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 300px;
  background-color: $blue;
  border-radius: 10px;
}

.gallery-column-item:not(:first-child) {
  margin-top: 16px;
}

.gallery-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

// Seção do Restaurante

.section-restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featuredDish {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.featuredDish-description {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 30%;
}

.featuredDish-title {
  font: 700 2rem 'Ubuntu', sans-serif;
  color: $brown;
  margin-bottom: 15px;
}

.featuredDish-plate {
  font: 600 1.2rem 'Ubuntu', sans-serif;
  color: $white;
  margin-bottom: 10px;
}

.featuredDish-plate span {
  font-style: italic;
  color: $blue;
}

.featuredDish-description p {
  font: italic 500 1rem 'Lora', serif;
  color: $white;
  margin-bottom: 20px;
}

.reservation {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font: 600 1.5rem 'Ubuntu', sans-serif;
  color: $dark-blue;
  text-shadow: .5px .5px .5px $extra-dark-blue;
  border: 1.5px solid $dark-blue;
  border-radius: 5px;
  background-color: rgba($color: #000000, $alpha: 0);
  cursor: pointer;
  padding: 10px;
  transition: .5s ease;
  width: 70%;
}

.reservation:hover {
  color: $white;
  background-color: $brown;
  border: 1.5px solid $brown;
}

.modal-calendar {
  background-color: bisque;
  width: 770px;

  .calendar-header {
    padding: 10px;
    font: $normal-font;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .calendar-header button {
    background-color: $blue;
    font: $normal-font;
    padding: 7px;
    border: 2px solid $black;
    border-radius: 5px;
    margin-left: 15px;
    transition: .5s ease;
  }

  .calendar-header button:hover {
    background-color: $dark-blue;
    color: $white;
  }

  #weekdays {
    width: 100%;
    display: flex;
  }

  #weekdays div {
    width: 100px;
    padding: 10px;
  }

  #calendar-days {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .day {
    width: 85px;
    padding: 7px;
    height: 85px;
    cursor: pointer;
    background-color: $white;
    margin: 5px;
    box-shadow: 0px 0px 3px $black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15%;
  }

  .day:hover {
    background-color: $blue;
  }
  
  .day + #currentDay {
    background-color: $dark-blue;
  }

  .event {
    font-size: 10px;
    padding: 3px;
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
  }
  
  .padding {
    cursor: default !important;
    background-color: var(--body-color) !important;
    box-shadow: none !important;
  }
  
}

.featuredDish img {
  width: 30%;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;  
  max-width: 916px;
  width: calc(100% - 20px);
}

#cards:hover > .card::after {
  opacity: 1;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 260px;
  flex-direction: column;
  position: relative;
  width: 300px;  
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 3;
}

.card::after {  
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.4),
    transparent 40%
  );
  z-index: 1;
}

.card > .card-content {
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

.card-image {
  align-items: center;
  display: flex;
  height: 140px;
  justify-content: center;
  overflow: hidden;
}

.card-image > i {
  font-size: 6em;
  opacity: 0.25;
}

.card-info-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0px 20px;
}

.card-info {
  align-items: flex-start;
  display: flex;
  gap: 10px;
}

.card-info > i {  
  font-size: 1em;
  height: 20px;
  line-height: 20px;
}

.card-info-title > h3 {
  font-size: 1.5em;
  color: $brown;
  line-height: 20px;
}

.card-info-title > h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.85em;
  margin-top: 8px;
}

/* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */

@media(max-width: 1000px) {
  body {
    align-items: flex-start;  
    overflow: auto;
  }
  
  #cards {    
    max-width: 1000px;
    padding: 10px 0px;
  }
  
  .card {
    flex-shrink: 1;
    width: calc(50% - 4px);
  }
}

@media(max-width: 500px) {
  .card {
    height: 180px;
  }
  
  .card-image {
    height: 80px;  
  }
  
  .card-image > i {
    font-size: 3em;
  }
    
  .card-info-wrapper {
    padding: 0px 10px;
  }
  
  .card-info > i { 
    font-size: 0.8em; 
  }
  
  .card-info-title > h3 {
    font-size: 0.9em;
  }

  .card-info-title > h4 {
    font-size: 0.8em;
    margin-top: 4px;
  }
}

@media(max-width: 320px) {
  .card {
    width: 100%;
  }
}

// Seção de Música

.section-music {
  display: flex;
  flex-direction: column;
}

.section-music--title {
  font: 700 2rem 'Ubuntu', sans-serif;
  color: $white;
  margin-bottom: 15px;
}

// Portal de Notícias

.news-portal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 70%;
  margin: 0 auto;
}

.title {
  font: 700 3rem 'Ubuntu', sans-serif;
  color: $white;
  text-align: center;
  margin-bottom: 30px;
}

.main-news-cover {
  grid-area: cover;
  width: 100%;
  height: 400px;
}

.main-news-cover-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: top;
}

.container-news {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.news {
  background-color: $extra-dark-blue;
  width: 100%;
  height: 100px;  
}

.news-title {
  color: $white; 
  font: $normal-font;
  margin: 15px;
}

.news-paragraph {
  color: $white;
  font: 500 .8rem 'Lora', serif;
}

.progress-bar {
  width: 100%;
  height: 7px;
  margin-top: 10px;
  color: $blue;
  position: relative;
  //visibility: hidden;
  pointer-events: none;

  &.active {
    visibility: visible;
  }
}

.progress-bar::before {
  content: attr(data-label);
	display: flex;
	align-items: center;
	position: absolute;
  height: 7px;
	width: calc(var(--width, 0) * 1%);
	min-width: 0;
	max-width: calc(100%);
	background-color: $blue;
}
